:root {
    --main-text-color: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(47, 47, 51);
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
}

.social-menu-item-svg {
    fill: var(--main-text-color);
    height: 32px;
    width: 32px;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--main-text-color);

    background-color: rgb(37, 37, 41);
}

.nav > .nav-section {
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    /* border-left: 1px solid var(--main-text-color); */
}

#nav-logo-section, #nav-time-section {
    flex-basis: calc(100% / 7);
}

#nav-link-section {
    flex-basis: calc((100% / 7) * 3);
}

#nav-social-section, #nav-profile-section {
    flex-basis: calc((100% / 7) * 1.5);
}

