<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fDet</title>

    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/states.css">

    <script defer src="../static/js/functions.js"></script>
    <script defer src="../static/js/main.js"></script>

</head>
<body>
    <section class="dashboard-section">
        <nav class="nav">
            <div class="nav-section" id="nav-logo-section">Logo</div>

            <div class="nav-section" id="nav-link-section">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">News</a>
                <a href="#">Price</a>
            </div>

            <div class="nav-section" id="nav-time-section">
                <nobr>

                    <a href="https://time.is/Brdo,_Královéhradecký_kraj" id="_z721" rel="nofollow"></a>
                    <script src="//widget.time.is/cs.js"></script>
                    <script>
                        time_is_widget.init({ _z721: { id: "Brdo__Královéhradecký_kraj_z721", template: "TIME<br>DATE", time_format: "hours:minutes", date_format: "dnum. mnum. year" } });
                        </script>

                </nobr>
            </div>

            <div class="nav-section" id="nav-social-section">
                <a class="social-menu-item-link" href="https://www.instagram.com/fdet_official/" name="instagram"></a>
                <a class="social-menu-item-link" href="https://twitter.com/fDet_Official" name="twitter"></a>
                <a class="social-menu-item-link" href="https://www.youtube.com/@fdet" name="youtube"></a>
                <a class="social-menu-item-link" href="https://www.tiktok.com/@fdet_official" name="tiktok"></a>
            </div>

            <div class="nav-section" id="nav-profile-section">
                <a href="#">pic</a>
                <a href="#">name</a>
            </div>
        </nav>
        <section></section>
    </section>
</body>
</html>